/* variable declarations */
:root {
    --primary-color: #000000;
    --secondary-color: #ccff99;
    --tertiary-color: #ffffcc;
    --text-color: #fff;
    --text-style: papyrus;
}

/* get webpage to use entire space */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

/* create styling for the body */
body {
    font-family:Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

/* apply styles to header */
header {
    background-color: var(--primary-color);
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    background-color: var(--primary-color);
    font-size: 48px;
    font-family: var(--text-style);
}

header nav {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: var(--text-color);
}

header a:hover {
    color: var(--secondary-color);
    font-weight: bold;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    font-style: var(--text-style);
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-style: var(--text-style);
}

/* style the "about me" section */

.title {
    font-size: 30px;
    text-align: center;
    font-family: var(--text-style);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero {
    display: flex;
}

.bio {
    display: flex;
    align-items: center;
    height: 500px;
}

/* style the portfolio section */
.work {
    display: flex;
    
}

.picture {
    height: 300px;
    width: 300px;
}

.buttons {
    background-color: white;
}

.placeholder-pic {
border: var(--text-color);
}