/* variable declarations */
:root {
    --primary-color: #000000;
    --secondary-color: #ccff99;
    --tertiary-color: #ffffcc;
    --text-color: #fff;
    --text-style: papyrus;
}

/* get webpage to use entire space */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

.flex {
    display: flex;
}

/* create styling for the body */
body {
    font-family:Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

/* apply styles to header */
header {
    background-color: var(--primary-color);
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    background-color: var(--primary-color);
    font-size: 48px;
    font-family: var(--text-style);
}

header nav {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: var(--text-color);
}

header a:hover {
    color: var(--secondary-color);
    font-weight: bold;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    font-style: var(--text-style);
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-style: var(--text-style);
}

/* style the "about me" section */

.title {
    font-size: 30px;
    text-align: center;
    font-family: var(--text-style);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero {
    display: flex;
}

.bio {
    display: flex;
    align-items: center;
    height: 500px;
}

.para1 {
    align-self: flex-start;
    text-align: right;
}

.para2 {
    align-self: flex-end;
}

/* style the portfolio section */
.projects {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    max-width: 60%;
    margin: 0 auto;
}

.projects div {
    width: 50%;
}

.picture {
    height: 300px;
    width: 100%;
    margin: 5px;
}

.buttons {
    background-color: white;
}

.placeholder-pic {
border: 1px solid var(--text-color);
margin: 10px;
}

/* style the contact info section */
.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.contact-links {
    display: flex;
    justify-content: space-between;
}

.contact-info a {
    text-decoration: none;
    font-family: var(--text-style);
    color: var(--text-color);
    font-size: 35px;
    
}

/* style the footer */
footer {
    width: 100%;
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

footer h5 {
    color: var(--text-color);
    font-size: 30px;
    margin: 0;
    font-family: var(--text-style);
}

.selfie {
    height: 400px;
}

.buttons {
    margin: 0 auto;
    width: 100px;
}